.bookinfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: solid 2px black;
  height: 440px;
  width: 300px;
  background-color: rgb(114, 164, 197);
  margin: 20px;
  border-radius: 20px;
  box-shadow: 5px 10px #3071a9;
}
.picContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.picture {
  height: 120px;
  max-width: 120px;
  border: 2px solid black;
}

.bookTitle {
  //border: solid 1px red;
  display: flex;
  justify-content: space-between;
  height: 150px;
  margin: 10px;
  font-weight: 800;
}

.title {
  display: flex;
  margin: 5px;
  height: 100%;
  width: 90%;
  //background-color: green;
  align-items: center;
  justify-content: center;
  align-content: center;
  overflow: auto;
}

.description {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  margin: 0px 0px 20px 0px;
  padding: 0px 10px;
  height: 150px;
  overflow: auto;
}

.properties {
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 768px) {
  .bookinfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: solid 1px black;
    height: 220px;
    width: 150px;
    background-color: rgb(114, 164, 197);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2.5px 5px #3071a9;
  }
  .picContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .picture {
    height: 60px;
    max-width: 60px;
    border: 1px solid black;
  }

  .bookTitle {
    //border: solid 1px red;
    display: flex;
    justify-content: space-between;
    height: 75px;
    margin: 5px;
    font-weight: 800;
  }

  .title {
    display: flex;
    margin: 5px;
    height: 50%;
    width: 90%;
    //background-color: green;
    align-items: center;
    justify-content: center;
    align-content: center;
    overflow: auto;
  }

  .description {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    margin: 0px 0px 10px 0px;
    padding: 0px 5px;
    height: 75px;
    overflow: auto;
  }

  .properties {
    font-weight: 500;
  }
}
